<html>
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <!-- Bootstrap CSS and JS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
          crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
        <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
        <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
        <style type="text/css">

                html,
                body,
                #container {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }
            
            </style>

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                {% load static %}
                <img src="{% static 'BDApage/images/chartjs.png' %}" width="30" height="30" alt="">
            </a>
            <ul >
              <a style='color:white' href="/BDApage/popularskillsets/">Popular Skills Sets</a>
            </ul>
            <ul>
              <a style='color:white' href="/BDApage/popularskills/">Popular Skills</a>
            </ul>
            <ul>
              <a style='color:white' href="/BDApage/jobtitle/">Popular Job Titles</a>
            </ul>
            <ul>
              <a style='color:white' href="/BDApage/popularlanguages/">Popular Languages</a>
            </ul>
            <ul>
              <a style='color:white' href="/BDApage/show_range/">Salary And Skills by Range</a>
            </ul>
            <ul>
              <a style='color:white' href="/BDApage/hello/">Top Companies</a>
            </ul>
        </nav>
    </head>
    <body>
        <div id = "wordcloud"></div>
        <div id = "barchart"></div>
        {{ mydata|json_script:"mydata" }}
        <script id="mydata" type='application/json'>{'hello':'world'}</script>
        <div id="container"></div>
 
          <script id="mydata" type='application/json'>{'hello':'world'}</script>
    </body>
   
    <script>
    const value = JSON.parse(document.getElementById('mydata').textContent);
    
    anychart.onDocumentReady(function () {
        
        console.log(value)

        const data = JSON.parse(document.getElementById('mydata').textContent);
        var keys = []
        var values = []

        for (var key in data){
            keys.push(key)
            values.push(data[key])
            }

        frequent_skills = []
        frequent_skills_list = []
        templist = []
        for ( var i = 0; i < keys.length; i++) {
            temp = {}
            temp["x"] = keys[i][0].toUpperCase() + keys[i].substring(1);
            temp["value"] = values[i]
            frequent_skills.push(temp)
            frequent_skills_list.push([keys[i],values[i]])
        }

        var chart = anychart.tagCloud(frequent_skills);

    

        // set a chart title
        chart.title('Top 25 most popular skills')
        // set an array of angles at which the words will be laid out
        chart.angles([0])

        // display the word cloud chart
        chart.container("wordcloud");
        chart.draw();

        // create a chart


        chart = anychart.bar();
        chart.title('Top 25 most popular skills')
        // create a bar series and set the data
        var series = chart.bar(frequent_skills);

        // set the container id
        chart.container("barchart");

    
        // initiate drawing the chart
        chart.draw();
            
        });

    </script>
</html>